@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin: 0px;
   /* background-image: url("/image/third.jpg");*/
}

:root {
    --primary-color: #ac0428;
    --another-color: #1a1715;
    --off-white: #E2E8F0;
    --foot-color: #aaabaf;
    --blog-color:#ee9c54;
}

hr {
    margin: 2rem 0rem;
}

/**container**/
.fluid-container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.center-container {
    max-width: 600px;
    margin: auto;
}

/**Links**/
.link {
    padding: 1rem 1rem;
    text-decoration: none;
}

.prime-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.second-link {
    color:black;
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
}

.list {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 1rem 1rem;
    /**border:1px solid red;
    color:brown;**/
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
}

.navigation .id {
    font-size: 1.5rem;
    font-weight: bolder;
}

.navigation .nav-pill {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/**HEADER**/
.image {
    padding: 2rem;
}

.image .in-image {
    max-width: 450px;
    display: block;
    margin: auto;
}

.image .img-head {
    text-align: center;
    color: var(--another-color);
}

.image .img-head .img-hlt {
    color: var(--primary-color);
}
.image .size{
    max-width: 250px;
}

/**section**/
.sec h1 h2{
    text-align: center;
}

.sec {
    padding: 2.5rem;
    text-align: center;
}

.off {
    background-color: var(--off-white);
    padding:2rem;
}
.spl{
    background-color:var(--blog-color);
    padding:0.5rem;
}

/**Footer**/
.footer {
    background-color: var(--foot-color);
    padding: 2rem;
    color: black;
    text-align: center;
    border-bottom-left-radius: 1rem;
    margin-top: 0.1rem;
    margin-right: none;
}
.footer .footer-head{
    font-weight: bold;
}

.footer .link {
    color: black;
}

.footer ul {
    margin-inline-start: none;
}